*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header1{
    background-color: #658161;
}
.text{
    display: flex;
}
.textContainer{
    display: flex;
    padding: 30px;
    justify-content: end;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}
.iconBox{
    display: flex;
    gap: 20px;
    color: white;
}
.text p{
    color: white;
}
.color{
    color: white;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.logo{
    height:100px;
    width: 150px;
}
.header2{
    display: flex;
    align-items: center;
    
}

.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
}
.ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style: none;
    gap: 40px;
}
.fa-bars{
    display: none;
    font-size: 20px;
}

.section1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url(img/sekil2.jpg);
    background-position: center;
    background-size: 1500px;
    background-repeat: no-repeat;
    height: 1000px;
    background-attachment: fixed;
}

.containerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.containerText h1{
    color: white;
    font-size: 70px;
}
.button{
    padding: 10px;
    background-color: transparent;
    border: 3px solid white;
    width: 150px;
    color: white;
    margin-top: 50px;
}
.button:hover{
    background-color: white;
    color: black;
}
.box{
    height: 400px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: red;
}
.imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBox{
    height: 100px;
    width: 100px;
}
.textBox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.textBox h4{
    font-size: 20px;
}
.textBox p{
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
}

.containerBox{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media(max-width:930px){
    .button{
    padding: 10px;
    background-color: transparent;
    border: 3px solid white;
    width: 75px;
    color: white;
    margin-top: 25px;
}
    .containerText h1{
    color: white;
    font-size: 15px;
}
    .text1{
        display: none;
    }
    .text3{
        display: none;
    }
    .textContainer{
        justify-content: center;
        font-size: 15px;
        padding: 15px;
    }
    .ul{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .container{
        justify-content: center;
        gap: 30px;
    }
}
@media(max-width:1130px){
    .textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
    .textBox p{
    line-height: 1;
    text-align: center;
    font-size: 15px;
}
    .containerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        height: 300px;
        width: 300px;
    }
}