*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header1{
    background-color: #658161;
}
.text{
    display: flex;
}
.textContainer{
    display: flex;
    padding: 30px;
    justify-content: end;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}
.iconBox{
    display: flex;
    gap: 20px;
    color: white;
}
.text p{
    color: white;
}
.color{
    color: white;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.logo{
    height:100px;
    width: 150px;
}
.header2{
    display: flex;
    align-items: center;
    
}

.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
}
.ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style: none;
    gap: 40px;
}
.fa-bars{
    display: none;
    font-size: 20px;
}
@media(max-width:930px){
    .text1{
        display: none;
    }
    .text3{
        display: none;
    }
    .textContainer{
        justify-content: center;
        font-size: 15px;
        padding: 15px;
    }
    .ul{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .container{
        justify-content: center;
        gap: 30px;
    }
}
